<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Topic</title>
</head>
<body>
<h2>Delete Topic</h2>
<form th:action="@{/admin/deleteTopic/{topicId} (topicId=${topicId})}" method="post">
  <label for="topicId">Topic ID:</label>
  <input type="text" id="topicId" name="topicId" readonly="readonly" th:value="${topicId}">
  <br>
  <label for="topicTitle">Topic Name:</label>
  <input type="text" id="topicTitle" name="topicTitle" readonly="readonly" th:value="${topicTitle}">
  <br>
  <input type="submit" value="Delete Topic">
</form>
</body>
</html>