<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Topic</title>
</head>
<body>

<h0>Create New Topic</h0>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form action="/topic/add" method="post">
    <input type="text" name="title" placeholder="Введите заголовок"><br>
    <textarea name = "messageText" placeholder="Введите текст сообщения"></textarea><br>
    <button type="submit" value="Create"></button>
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>