<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <script type="text/javascript">
        function goToPage(pageNumber) {
            window.location.href = "/topics/page_" + pageNumber;
        }
    </script>
</head>
<body>
<h0>Topics</h0>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<ul>
    <li th:each="topic : ${topics}">
        <a th:href="@{'/topic/' + ${topic.id}}"><span th:text="${topic.title}"></span></a>
    </li>
</ul>

<form th:action="@{/topic/add}" method="get">
    <input type="submit" value="Create New Topic"/>
</form>

<div>
    <ul>
        <li th:if="${pageNumber > 1}">
            <a th:href="@{'/topic/page_' + ${pageNumber - 1}}">Previous</a>
        </li>
            <a th:href="@{'/topic/page_' + ${pageNumber + 1}}">Next</a>
    </ul>
</div>
</body>
</html>