<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <script type="text/javascript">
        function goToPage(pageNumber) {
            window.location.href = "/topics_page_" + pageNumber;
        }
    </script>
</head>
<body>
<h0>Topics</h0>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<ul>
    <!-- Отображение списка топиков -->
    <li th:each="topic : ${topics}">
        <a th:href="@{'/topic/' + ${topic.id}}"><span th:text="${topic.title}"></span></a>
    </li>
</ul>

<!-- Пагинация -->
<div>
    <ul>
        <li th:if="${pageNumber > 1}">
            <a href="#" onclick="goToPage(${pageNumber - 1})">Previous</a>
        </li>
        <li th:if="${topics.size() == pageSize}">
            <a href="#" onclick="goToPage(${pageNumber + 1})">Next</a>
        </li>
    </ul>
</div>
</body>
</html>