<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Topic</title>
</head>
<body>

<h1>Create New Topic</h1>

<form action="/topic/add" method="post">
    <input type="text" name="title" placeholder="Введите заголовок"><br>
    <textarea name = "messageText" placeholder="Введите текст сообщения"></textarea><br>
    <button type="submit" value="Create"></button>
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>